
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://www.pandasecurity.com/es/mediacenter/src/uploads/2020/07/pandasecurity-juegos-online.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 60px; /* Aumentar el tamaño de la fuente */
    font-family: 'Arial Black', sans-serif; /* Utilizar una fuente audaz */
    color: #FFD700; /* Cambiar el color del título a dorado */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Agregar una sombra de texto */
    background-color: #333; /* Cambiar el color de fondo del título */
    padding: 20px; /* Agregar relleno alrededor del título */
}

p {
    text-align: center;
}


header {
    background-image: url('https://wallpapers.com/images/hd/gaming-linkedin-banner-ofj8i3e2woox69eb.jpg'); 
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 50px 0;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}
.categorias {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

ul li {
    display: inline;
    margin-right: 20px;
}

ul li:last-child {
    margin-right: 0;
}

ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

ul li a:hover {
    color: #007bff;
}


#inicio-sesion, #registrarUsuario, #ventanaModificarPerfil {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"], input[type="password"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="button"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #0056b3;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Responsividad */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    #inicio-sesion, #registrarUsuario, #ventanaModificarPerfil {
        max-width: 90%;
    }
}